body{
    background-color:#0e3386;
    color:white;
}
table {
   border-collapse: collapse;
   border: 8px solid white;
}

td {
    text-align: left;
    border: 1px solid white;
    color: black;
    padding: 5px;
}

th{
    height: 30px;
    vertical-align: bottom;
    background-color: #FFFF99;
    color: black;
    border: 1px solid white;
    padding: 5px;
}

